* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: fantasy;
  text-decoration-color: cornsilk;
  font-size: larger;
}

.landing {
  height: 100vh;
  background-color: #d7ecfe;
  display: grid;
  place-items: center;
  padding: 10%;
  background-size: 500% 500%;
  animation: gradient 15s;
}
h1 {
  text-transform: uppercase;
  color: white;
  font-size: 300%;
}

.timeline-container {
  display: grid;
  grid-template-columns: 1fr 10% 1fr;
  grid-template-rows: repeat(4, 1fr);
  background-image: url(./images/pic.jpg);
  background-size: 500% 500%;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
  padding: 10%;

  /* lorem picsum picture change no to 1200 and set size to cover */
}
.line {
  width: 10px;
  height: 100%;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 5;
  background: rgba(241, 232, 232, 0.2);
  box-shadow: 0 8px 32px 0 rgba(236, 236, 245, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
}
.item1 {
  grid-column: 3;
  grid-row: 1;
}
.item2 {
  grid-column: 1;
  grid-row: 2;
}
.item3 {
  grid-column: 3;
  grid-row: 3;
}
.item4 {
  grid-column: 1;
  grid-row: 4;
}
.timeline-item {
  /* add glassmorphism stuff */
  color: white;
  padding: 10%;
  margin: 10%;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(226, 226, 236, 0.37);
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-shadow: 3px 3px 3px 0 rgba;
}

@media screen and (max-width: 720px) {
  .timeline-container {
    grid-template-columns: 10% 1fr;
  }
  .timeline-item {
    grid-column: 2;
  }
  .line {
    grid-column-start: 1;
  }
}
